//@import "../iconfont/iconfont.css";

.rdf {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &-renderer, &-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &-background {
    z-index: 1;
  }
  &-renderer {
    z-index: 5;
  }

  .node {
    cursor: pointer;
  }
}
