
.drag-node {
  display: flex;
  width: 100%;
  margin-top: 2px;

  &-left {
    width: 250px;
    border-right: 1px solid #DCDDDD;
    background: #FAFAFA;

    > h3 {
      height: 36px;
      line-height: 36px;
      border-bottom: 1px solid #DCDDDD;
      padding-left: 12px;
      font-size: 14px;
    }
  }

  &-right {
    position: relative;
    flex: 1;
    background: #F6F7F9;
  }

  &-list {
    margin-top: 20px;
    height: calc(100vh - 110px);
    overflow: auto;
    padding: 0 12px;

    .ant-tree {
      background: #FAFAFA;
    }

    .ant-tree-node-content-wrapper[draggable=true] {
      line-height: 28px;
    }

    .tree-name {
      margin-left: 10px;
    }

    .leaf-drag {
      text-align: right;

      > span {
        display: inline-block;
        transform: rotate(90deg);
        color: #BFBFBF;
        text-align: right;

        &:last-child {
          position: relative;
          left: 12px;
        }

        &:first-child {
          position: relative;
          left: 24px;
        }
      }
    }
  }
}
